<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div id="loginform">
      <h1 id="logintitle">Log In</h1>
      <form id="loginsmall" action="/log-in" method="POST">
        <label class="logincontent" for="username">Username</label>
        <input class="logincontent" name="username" placeholder="Username" type="text" />
        <label class="logincontent" for="password">Password</label>
        <input class="logincontent" name="password" placeholder="Password" type="password" />
        <div id="flex">
          <button class="logincontent" >Log In</button>
          <a class="logincontent" href="/sign-up">Sign Up</a>
        </div>
      </form>
    </div>
</body>
</html>